/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#three-shoes {
  display: table;
  width: 100%;
}

#featured-archive {
  display: table;
  width: 100%;
}

.foot {
  display: table;
  width: 100%;
}


.col-1 {
  float: left;
  width: 32%;
  background: #ccc;
  display: table-cell;
  margin-bottom: 2%;
  height: inherit;;
}

.col-2 {
  float: left;
  width: 66%;
  background: #ccc;
  display: table-cell;
  margin-bottom: 2%;
  height: inherit;;
}

.col-3 {
  background: #ccc;
}


[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}
